
body {
  background-color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10;
  padding: 0;
}

.cost-input{
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  ;
}

.calculateBtn{
  font-size: 17px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border:none;
}



.subscribeBtn {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px #999;
  margin-bottom: 20px;
}

.subscribeBtn:hover {
  background-color: grey;}

.subscribeBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 
}

.is-subscribed {
  background-color: red;

}
.is-subscribed:hover {
  background-color: rgb(229, 98, 98);
}

